.vote-summary
  .result
    = @vote['result']
    .count
      (#{@vote['breakdown']['total']['Yea']+@vote['breakdown']['total']['Nay']}
      %span.of= t '.of'
      #{@vote['breakdown']['total']['Yea']+@vote['breakdown']['total']['Nay']+@vote['breakdown']['total']['Not Voting']+@vote['breakdown']['total']['Present']}
      #{t '.voting'})
  .grid
    %table
      %tr
        %td{ :colspan => 2}
        %td
          .count
            = @vote['breakdown']['total']['Yea']
            %span= t '.yeas'
        %td
        %td
          .count
            = @vote['breakdown']['total']['Nay']
            %span= t '.nays'
      - [ 'D', 'R', 'I'].each do |party|
        %tr
          %td
          %td
            .spacer
          %td
          %td
            .spacer
          %td
        %tr
          %td.party
            .party{ :class => party }
          - [ 'Yea', 'Nay' ].each do |vote|
            %td
            %td.votes
              %div
                - count = 0
                - row_size = params[:chamber] == 'senate' ? 8 : 16
                - @vote['voters'].each do |bioguide_id, details|
                  - if details['voter']['party'] == party and details['vote'] == vote
                    = link_to rep_path(bioguide_id), class: "vote #{party} #{params[:chamber]}#{count < row_size ? ' first_row' : ''}#{count%row_size==(row_size-1) ? ' last_col' : ''}", data: { toggle: 'tooltip', title: details['voter']['last_name'], bioguide_id: bioguide_id } do
                      %span= details['voter']['last_name']
                      %span= vote
                    - count += 1
    - if session[:reps]
      %hr
      %table
        %tr
          %td.party
            .party.yourreps
          - [ 'Yea', 'Nay' ].each do |vote|
            %td
              .spacer
            %td.votes.yourreps
              %div
                - count = 0
                - session[:reps]['results'].each do |rep|
                  - if rep['chamber'] == params[:chamber]
                    - if @vote['voters'][rep['bioguide_id']] and @vote['voters'][rep['bioguide_id']]['vote'] == vote
                      = link_to rep_path(rep['bioguide_id']), class: "vote #{rep['party']} senate#{count == 0 ? ' first_row' : ''}", data: { toggle: 'tooltip', title: rep['last_name'], bioguide_id: rep['bioguide_id'] } do
                        .name{ :class => "#{count == 0 ? 'first_row' : ''}"}= rep['last_name']
                      .clearfix
                      - count += 1
  .date
    = l Time.parse(@vote['voted_at']), :format => :legislation
  .question
    = @vote['question']
  .title
    = @vote['bill']['official_title']
  .link
    = link_to t('.full_details'), bill_path(@vote['bill']['bill_id'])
