.container.container-bg
  .row
    .col-md-4
      #votes.well
        %h2= t '.bills_and_resolutions'
        %h3= t '.latest_legislation'
        %p= t '.track_votes'
        .tabs
          %span#votes-senate.tab.selected
            %span= t 'senate'
          %span.separator
          %span#votes-house.tab
            %span= t 'house'
        %hr
        .tabs-content
          #votes-senate-content.tab-content
            .spinner
          #votes-house-content.tab-content{ :style => 'display:none;' }
            .spinner
    .col-md-4
      #reps.well
        %h2= t '.from_the_floor'
        %h3= t '.saying'
        %p= t '.follow_speeches'
        .tabs
          %span#reps-senate.tab.selected
            %span= t 'senate'
          %span.separator
          %span#reps-house.tab
            %span= t 'house'
        %hr          
        .tabs-content
          #reps-senate-content.tab-content
            .spinner
          #reps-house-content.tab-content{ :style => 'display:none;' }
            .spinner
        = form_tag my_reps_path, id: 'my-reps', style: "display:none;", remote: true do
          .form-group
            = label_tag :address, t('.address')
            = text_field_tag :address, nil, class: 'address form-control', placeholder: t('.address_placeholder')
            = hidden_field_tag :address_data, nil, class: 'address_data'
          = submit_tag t('.submit'), class: 'btn btn-primary'
          = t '.or'
          = link_to t('.cancel'), '#', class: 'cancel'
    .col-md-4
      #compare.well
        %h2= t '.head_to_head'
        %h3= t '.views'
        %p= t '.compare_history'
        #compare-content
          .tabs
            %span.tab &nbsp;
          %hr          
          .spinner
