.content-bg
  .container
    .row
      .span4
        .well.bills_and_resolutions
          %h2= t '.bills_and_resolutions'
          %h3= t '.latest_legislation'
          %p= t '.track_votes'
      .span4
        .well.from_the_floor
          %h2= t '.from_the_floor'
          %h3= t '.saying'
          %p= t '.follow_speeches'
      .span4
        .well.head_to_head
          %h2= t '.head_to_head'
          %h3= t '.views'
          %p= t '.compare_history'
          
          
                    